@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RealEstateApp.Application.Dtos.Account.UserLoginDTO

<div class="container my-5">
    <div class="bg-primary p-4 rounded shadow-lg text-white">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>

        @if (TempData["ErrorMessage"] != null)
        {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
        }

        <form asp-action="Login" method="post" class="shadow-lg p-4 rounded bg-light">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label for="Username" class="form-label">Correo o Nombre de Usuario</label>
                <input asp-for="Username" class="form-control" placeholder="Ingresa tu correo o nombre de usuario" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Contraseña</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Ingresa tu contraseña" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary btn-lg">Iniciar Sesión</button>
                <a asp-action="Register" asp-controller="Account" class="btn btn-link">¿No tienes cuenta? Regístrate</a>
            </div>
        </form>
    </div>
</div>
